.modal {
  position: fixed;
  top: 50px;
  left: auto;
  background-color: #fff;
  width: 500px;
  max-height: 90vh;
  border: 1px solid rgb(179, 179, 179);
  border-radius: 15px;
  overflow: auto;
  margin: 0 15px 160px;
}

.modal .footer {
  width: 100%;
  height: 60px;
  background-color: rgb(243, 244, 246);
  bottom: 0;
  display: flex;
  padding: 10px 1.5rem;
  flex-direction: row-reverse;
}

.footer Button {
    color: white;
    background-color: red;
    border: none;
}

.modal-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(107, 114, 128, 0.5);
  z-index: 9;
  width: 100vw;
  height: calc(100ch + 100px);
}

.modal .body {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
}